<div class="card">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>

    <p-toolbar styleClass="mb-4 gap-2" *ngIf="!loading()">
        <ng-template pTemplate="left">
            <p-button [label]="'heroLayout.new' | translate" icon="pi pi-plus" severity="success" (onClick)="openNew()" />
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="heroLayouts()" dataKey="_id"
        [tableStyle]="{'min-width': '75rem'}" 
        [globalFilterFields]="['name','sectionTitle','sectionSubtitle']"
        [loading]="loading()" 
        styleClass="p-datatable-sm">
        
        <ng-template pTemplate="caption">
            <div class="flex items-center justify-between">
                <h5 class="m-0">{{ 'heroLayout.title' | translate }}</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" [placeholder]="'common.search' | translate" />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">{{ 'heroLayout.name' | translate }} <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="sectionTitle">{{ 'heroLayout.sectionTitle' | translate }} <p-sortIcon field="sectionTitle"></p-sortIcon></th>
                <th>{{ 'heroLayout.itemsCount' | translate }}</th>
                <th>{{ 'heroLayout.tags' | translate }}</th>
                <th pSortableColumn="displayOrder">{{ 'heroLayout.order' | translate }} <p-sortIcon field="displayOrder"></p-sortIcon></th>
                <th pSortableColumn="isActive">{{ 'common.status' | translate }} <p-sortIcon field="isActive"></p-sortIcon></th>
                <th pSortableColumn="createdAt">{{ 'heroLayout.createdAt' | translate }} <p-sortIcon field="createdAt"></p-sortIcon></th>
                <th style="width: 10rem">{{ 'common.actions' | translate }}</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-heroLayout>
            <tr>
                <td>{{ heroLayout.name }}</td>
                <td>
                    <div>{{ heroLayout.sectionTitle?.en || '-' }}</div>
                    <small class="text-gray-500">{{ heroLayout.sectionTitle?.ar || '-' }}</small>
                </td>
                <td>
                    <p-tag [value]="heroLayout.items?.length + ' ' + ('heroLayout.items' | translate)" severity="info"></p-tag>
                </td>
                <td>
                    <p-tag *ngFor="let tag of heroLayout.tags" [value]="tag" class="mr-1"></p-tag>
                    <span *ngIf="!heroLayout.tags || heroLayout.tags.length === 0">-</span>
                </td>
                <td>{{ heroLayout.displayOrder }}</td>
                <td>
                    <p-tag [value]="getStatusLabel(heroLayout.isActive)" 
                           [severity]="heroLayout.isActive ? 'success' : 'danger'">
                    </p-tag>
                </td>
                <td>{{ heroLayout.createdAt | date: 'short' }}</td>
                <td>
                    <div class="flex gap-2">
                        <p-button icon="pi pi-pencil" severity="info" [rounded]="true" [text]="true" 
                                  (onClick)="editHeroLayout(heroLayout)" [pTooltip]="'common.edit' | translate"></p-button>
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [text]="true" 
                                  (onClick)="deleteHeroLayout(heroLayout)" [pTooltip]="'common.delete' | translate"></p-button>
                        <p-button [icon]="heroLayout.isActive ? 'pi pi-eye-slash' : 'pi pi-eye'" 
                                  [severity]="heroLayout.isActive ? 'warn' : 'success'" 
                                  [rounded]="true" [text]="true" 
                                  (onClick)="toggleActive(heroLayout)" 
                                  [pTooltip]="'heroLayout.toggleActiveStatus' | translate"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" class="text-center">{{ 'heroLayout.noHeroLayoutsFound' | translate }}</td>
            </tr>
        </ng-template>
    </p-table>

</div>

